(
    label: "grass",
    components: {
        "model": (
            type: "Cube",
            textures: [
                "dirt",
                "dirt",
                "dirt",
                "dirt",
                "dirt",
                "grass",
            ],
        ),
    },
)
